@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jersey+10&family=Ruwudu:wght@400;500;600;700&display=swap');

.enFont {
    font-family: "Ruwudu", serif;
    font-weight: 700;
    font-style: normal;
}