.bg-header-dark {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 25%;
    z-index: -999;
    border-radius: 100%;
    box-shadow: 0 0 20px 20px #05e173ff;
    opacity: 0.3;
    background-image: url('/assets/image/gif/2MgJ.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes rotateicons {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}